{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content %}
<!-- Navigation -->
<ul class="nav nav-tabs nav-justified" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#All" role="tab">All</a>
  </li>
  <li class="nav-item tab">
    <a class="nav-link" data-toggle="tab" href="#People" role="tab">People</a>
  </li>
  <li class="nav-item tab">
    <a class="nav-link" data-toggle="tab" href="#Nature" role="tab">Nature</a>
  </li>
  <li class="nav-item tab">
    <a class="nav-link" data-toggle="tab" href="#Architecture" role="tab">Architecture</a>
  </li>
</ul>
<div class="container-fluid mt-2">
  <p>What to post a pic. Add it <a href="/blog">here</a>.</p>
</div>
<!--Content  -->
<div class="tab-content">

  <!-- All -->
  <div id="All" class="tab-pane">
    <div class="container">
      <div class="row">
        {{macro.displayBloglist(all)}}
      </div>
    </div>
  </div>
  <!-- People -->
  <div id="People" class="tab-pane">
    <div class="container">
      <div class="row">
        {{macro.displayBloglist(people)}}
      </div>
    </div>
  </div>
  <!-- Nature -->
  <div id="Nature" class="tab-pane">
    <div class="container">
      <div class="row">
        {{macro.displayBloglist(nature)}}
      </div>
    </div>
  </div>
  <!-- Architecture -->
  <div id="Architecture" class="tab-pane">
    <div class="container">
      <div class="row">
        {{macro.displayBloglist(architecture)}}
      </div>
    </div>
  </div>
</div>
{% endblock %}
