{% extends 'base.html' %} {% block content %}
  {% block script %}
  <script type="text/javascript">
    $(document).ready(function() {
        $('.btn').click(function() {
        // y = $('.btn').text()
        // console.log(y);
        // z = 'Changed'
        // x = $('.btn').text(z)

          // y = $('.btn').text()
          //
          // z = parseInt(y)
          // z ++;
          $('.btn').html(function(i, val){return +val+1})
          console.log(z)


        })
    });

  </script>
  {% endblock %}
  <button class="btn-primary btn" type="button" name="button">1</button>
{% endblock %}
